<header class="site-header">
                
  <div class="block-120">
          logo
  </div>
  <div class="block-770">
          <nav class="main-nav">
              <ul>
                      <li>
                              <a href="">Главная</a>
                              <a href="">О компании</a>
                              <a href="">Преимущества</a>
                              <a href="">Доставка</a>
                              <a href="">Контакты</a>
                      </li>
              </ul>


          </nav>
  </div>
  <div class="block-370">+7 996 7653322  +7 665 3332211</div>
</header>