<ng-container>
  <app-header class="example-header"></app-header>


  <mat-sidenav-container class="example-container">

    <mat-sidenav mode="side" opened class="example-sidenav">
      <mat-list>
        <mat-list-item routerLink='suit'>Костюмы</mat-list-item>
        <mat-list-item routerLink='jacket'>Пиджаки</mat-list-item>
        <mat-list-item routerLink='coat'>Пальто</mat-list-item>
        <mat-list-item routerLink='items'>Items</mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-footer class="example-footer"></app-footer>
</ng-container>
